{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "semi": true,
  "trailingComma": "es5"
}
